5) Data Analytics II
1. Implement logistic regression using Python/R to perform classification on 
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall
on the given dataset

In [67]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [22]:
df=pd.read_csv("Social_Network_Ads.csv")

In [23]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [24]:
df.shape

(400, 5)

In [25]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 14.1+ KB

In [28]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [29]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

The following data has no null values and hence the model is ready for training
Here the user id column is not useful from training therefore it will not be considered for training

In [55]:
x=df.iloc[:,[2,3]]
y=df.iloc[:,-1]

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [57]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(320, 2)
(320,)
(80, 2)
(80,)

In [58]:
le=LabelEncoder()
df['Gender']= le.fit_transform(df['Gender'])

In [59]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [60]:
regression=LogisticRegression()

In [61]:
regression.fit(x_train,y_train)

LogisticRegression()

In [63]:
y_pred=regression.predict(x_test)

In [65]:
regression.score(x_test,y_test)

0.725

In [68]:
print('MSE:',metrics.mean_squared_error(y_test, y_pred))

MSE: 0.275

In [69]:
cm= metrics.confusion_matrix(y_test,y_pred)

#Calculating TP,FN,TN,FP
TP = cm[1][1]
FN = cm[0][1]
TN = cm[0][0]
FP = cm[1][0]

print("TP ",TP)
print("FN ",FN)
print("TN ",TN)
print("FP ",FP)

#Calculating Accuracy, Error rate, Precision, Recall
accuracy = TP+TN/(TP+FN+TN+FP)
error_rate = FP+FN/(TP+FN+TN+FP)
precision = TP/(TP+FP)
recall = TP/(TP+FN)

print("Accuracy ",accuracy)
print("Error_rate ",error_rate)
print("Precision ",precision)
print("Recall ",recall)

TP  0
FN  0
TN  58
FP  22
Accuracy  0.725
Error_rate  22.0
Precision  0.0
Recall  nan

C:\Users\PRATHA~1\AppData\Local\Temp/ipykernel_12044/883939423.py:18: RuntimeWarning: invalid value encountered in longlong_scalars
  recall = TP/(TP+FN)